* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #3B9AE1;
}

div#img {
    background-image: url('img/Inserir\ um\ subtítulo.png');
  background-size: cover;         /* Cobre toda a área */
  background-position: center;    /* Centraliza a imagem */
  background-repeat: no-repeat;   /* Evita repetição */
  height: 100vh;                  /* Altura da tela inteira */
  width: 100%;
}